name: CI

on:
  push:
    branches:
    - "*"
  pull_request:
    branches:
    - "*"

jobs:
  build:
    name: Build on Linux x86_64
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y cmake file

    - name: Build
      run: |
        mkdir build
        cd build
        cmake ..
        make -j
        file libhmsbeagle/libhmsbeagle.so.* | grep x86-64

  build-aarch64:
    name: Build on Linux aarch64
    runs-on: ubuntu-24.04-arm

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y cmake file

    - name: Build
      run: |
        mkdir build
        cd build
        cmake ..
        make -j
        file libhmsbeagle/libhmsbeagle.so.* | grep aarch64
