name: Build mac package

on: 
  workflow_dispatch:
  
# on:
#   push:
#     branches:
#     - basta  
  
jobs:
  build:
    name: Build on Mac
    runs-on: macos-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4
      
    - name: Install the Apple certificate
      env:
        APPLICATION_CERTIFICATES_BASE64: ${{ secrets.APPLE_APPLICATION_CERTIFICATES_BASE64 }}
        INSTALLER_CERTIFICATES_BASE64: ${{ secrets.APPLE_INSTALLER_CERTIFICATES_BASE64 }}
        CERTIFICATES_PASSWORD: ${{ secrets.APPLE_CERTIFICATES_PASSWORD }}     
        KEYCHAIN_PASSWORD: ${{ secrets.APPLE_KEYCHAIN_PASSWORD }}        
        APPLE_ID: ${{ secrets.APPLE_ID }}
        APP_SPECIFIC_PASSWORD: ${{ secrets.APPLE_API_PASSWORD }}
        TEAM_ID: ${{ secrets.APPLE_TEAM_ID }}
      run: |
        # create variables
        APPLICATION_CERTIFICATE_PATH=$RUNNER_TEMP/application_certificates.p12
        INSTALLER_CERTIFICATE_PATH=$RUNNER_TEMP/installer_certificates.p12
        KEYCHAIN_PATH=$RUNNER_TEMP/app-signing.keychain-db

        # import certificate and provisioning profile from secrets
        echo -n "$APPLICATION_CERTIFICATES_BASE64" | base64 --decode -o $APPLICATION_CERTIFICATE_PATH
        echo -n "$INSTALLER_CERTIFICATES_BASE64" | base64 --decode -o $INSTALLER_CERTIFICATE_PATH

        # create temporary keychain
        security create-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH
        security set-keychain-settings -lut 21600 $KEYCHAIN_PATH
        security unlock-keychain -p "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH

        # import certificate to keychain
        security import $APPLICATION_CERTIFICATE_PATH -P "$CERTIFICATES_PASSWORD" -A -t cert -f pkcs12 -k $KEYCHAIN_PATH
        security import $INSTALLER_CERTIFICATE_PATH -P "$CERTIFICATES_PASSWORD" -A -t cert -f pkcs12 -k $KEYCHAIN_PATH
        security set-key-partition-list -S apple-tool:,apple: -k "$KEYCHAIN_PASSWORD" $KEYCHAIN_PATH
        security list-keychain -d user -s $KEYCHAIN_PATH
        
        # add notary password
        xcrun notarytool store-credentials --apple-id "$APPLE_ID" --password "$APP_SPECIFIC_PASSWORD" --team-id "$TEAM_ID" "my-notary-profile"
        
    - name: Build BIT package
      env:
        APPLICATION_SIGNER: ${{ secrets.APPLE_SIGNER }}
      run: |
        mkdir build
        cd build
        cmake .. -DBUILD_BIT=ON -DBUILD_OPENCL=ON
        make
        cpack .    
    
    - name: Sign and notarize BIT package
      env:
        APPLE_APPLICATION_IDENTITY_SHA: ${{ secrets.APPLE_SIGNER }}
        APPLE_INSTALLER_IDENTITY_SHA: ${{ secrets.APPLE_INSTALLER_SIGNER }}       
      run: |
        export KEYCHAIN_NAME="my-notary-profile"
        export INITIAL_FILE_NAME="BEAGLE-BIT-4.1.0-Darwin.pkg"
        export FINAL_FILE_NAME="BEAGLE-BIT-4.1.0-Darwin-signed.pkg"
        cd build
        ../project/beagle-macos/macos_signing.sh
        
    - name: Build BEAGLE package
      env:
        APPLICATION_SIGNER: ${{ secrets.APPLE_SIGNER }}
      run: |
        mkdir build
        cd build
        cmake .. -DBUILD_BIT=OFF -DBUILD_OPENCL=ON
        make
        cpack .    
    
    - name: Sign and notarize BEAGLE package
      env:
        APPLE_APPLICATION_IDENTITY_SHA: ${{ secrets.APPLE_SIGNER }}
        APPLE_INSTALLER_IDENTITY_SHA: ${{ secrets.APPLE_INSTALLER_SIGNER }}       
      run: |
        export KEYCHAIN_NAME="my-notary-profile"
        export INITIAL_FILE_NAME="BEAGLE-4.1.0-Darwin.pkg"
        export FINAL_FILE_NAME="BEAGLE-4.1.0-Darwin-signed.pkg"
        cd build
        ../project/beagle-macos/macos_signing.sh        
        
    - name: Test installation
      run: |
        sudo installer -pkg "build/BEAGLE-4.1.0.-Darwin.pkg" -target /
                            
    - name: Upload BIT package
      if: always()
      uses: actions/upload-artifact@v4
      with:
        name: Mac_BIT_installer
        path: build/BEAGLE-BIT-4.1.0-Darwin*      
