name: win-build

# on: workflow_dispatch

on:
  push:
    branches:
    - master

jobs:
  build:
    name: Build release on windoz
    runs-on: windows-2022

    steps:    
      - uses: actions/checkout@v4
    
      - uses: ilammy/msvc-dev-cmd@v1 # This action sets up the environment
        with:
#           vsversion: '2019'
          toolset: '14.44'
      
      - uses: Jimver/cuda-toolkit@v0.2.24
        id: cuda-toolkit
        with:
          cuda: '12.5.0'         
      
#       - name: Build with BIT
#         run: |        
#           mkdir build_bit
#           cd build_bit
#           cmake -DBUILD_CUDA=ON -DBUILD_OPENCL=ON -DBUILD_BIT=ON ..
#           devenv BEAGLE.sln /build "Release"
#           cpack .
#           
#       - name: Upload CPack files
#         uses: actions/upload-artifact@v4
#         with:
#           name: CPack files
#           path: build_bit
# 
#       - name: Upload BIT installer package
#         if: success()
#         uses: actions/upload-artifact@v4
#         with:
#           name: BIT_installer_package
#           path: build_bit/*.msi

      - name: Build BEAGLE
        run: |        
          mkdir build
          cd build
          cmake -DBUILD_CUDA=ON -DBUILD_OPENCL=ON -DBUILD_BIT=OFF ..
          devenv BEAGLE.sln /build "Release"
          cpack .

      - name: Upload BEAGLE installer package
        if: success()
        uses: actions/upload-artifact@v4
        with:
          name: BEAGLE_installer_package
          path: build/*.msi
